*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(13, 13, 57);
}

.calculator{
    width: 100%;
    height: 100vh;
    background-color: #2196F3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 70%;
    margin: auto;
    padding: 20px;
    gap: 10px;
    border-radius: 30px;
}

.display{
    background-color: #E4F2FD;
    grid-column: 1/5;
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    font-size:  45px;
    word-wrap: break-word;
}

input{
    width: 100%;
    height:50px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rm;
    background-color: #E4F2FD;
    text-align: right;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size:  45px;
    word-wrap: break-word;
}

button{
    font-size: 20px;
    border-radius: 15px;
    border: none;
    background-color: #1564C0;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

#two-span{
    grid-column: span 2;
}
